{% macro drop_down(id, payload, ddpayload, primary, secondary=None, primarybyname=False, secondarybyname=False, extra=True, secondaryid=None, selected_value=None) %}
    {% if secondary == None %}
        <label for="{{ id }}_{{ primary }}_dropdown">Select {{ primary.capitalize() }}:</label>
        <br>
        <select class="dropdown" name="{{ id }}_{{ primary }}_dropdown" id="{{ id }}_{{ primary }}_dropdown">
        {% for i in ddpayload[primary] %}
            <option
                    {% if (selected_value is not none and i["id"]|string == selected_value|string)
        or (primarybyname and id is number and (id - 1) < payload|length and i["name"] == payload[id - 1][primary + "name"])
        or (not primarybyname and id is number and (id - 1) < payload|length and i["id"]|string == payload[id - 1][primary]|string) %}
                        selected
                    {% endif %}
                        value="{{ i["id"] }}">{{ i["name"] }}</option>
        {% endfor %}
            {% if extra == True %}
                <option {{ "selected" if id == "new" or id == "edit" }} value="EDIT">Edit</option>
                <option value="ADD">New</option>
            {% endif %}
        </select>
    {% else %}
        <label for="{{ id }}_{{ secondary }}_dropdown">Select {{ secondary.capitalize() }}:</label>
        <br>
        <select class="dropdown" name="{{ secondaryid }}_{{ secondary }}_dropdown" id="{{ secondaryid }}_{{ secondary }}_dropdown">
        {% for i in ddpayload[secondary] %}
            <option
                {% if (selected_value is not none and i["id"]|string == selected_value|string)
                    or (secondarybyname and id is number and (id - 1) < payload|length and i["name"] == payload[id - 1][secondary + "name"])
                    or (not secondarybyname and id is number and (id - 1) < payload|length and i["id"]|string == payload[id - 1][secondary]|string)
                %}
                    selected
                {% endif %}
                value="{{ i["id"] }}"
                {% if i is mapping and 'employer' in i %}data-employer-id="{{ i.employer }}"{% endif %}>{{ i["name"] }}</option>
        {% endfor %}
        {% if extra == True %}
            <option {{ "selected" if id == "new" or id == "edit" }} value="EDIT">Edit</option>
            <option value="ADD">New</option>
        {% endif %}
        </select>
    {% endif %}
{%- endmacro %}