{% from "_dropdown.html" import drop_down with context %}
{% macro form_group(employerid, employer, employerstate, positionid, position, positionstate, achievementid, shortdesc, longdesc, achievementstate) %}
    <!-- Test if new template element -->
    {% if employerid == "new" %}
        {% set employerid = "new` + clicks + `"|safe %}
        {% set positionid = "new` + clicks + `"|safe %}
        {% set achievementid = "new` + clicks + `"|safe %}
    {% endif %}
    <div id="{{ achievementid }}" class="lead d-flex align-items-bottom justify-content-center">
        <input type="hidden" name="{{ achievementid }}_rowid" value="{{ employerid }}">
        <table>
            <tr>
                <td>
                    <label for="{{ achievementid }}_employer_dropdown">Employer/College:</label>
                    <br>
                    <select class="dropdown" name="{{ achievementid }}_employer_dropdown" id="{{ achievementid }}_employer_dropdown">
                    {% for i in ddpayload["employer"] %}
                        <option
                                {% if (employerid is not none and i["id"]|string == employerid|string) %}
                                    selected
                                {% endif %}
                                value="{{ i["id"] }}" data-org-type="{{ i.get('type', 'employer') }}">
                                {{ i["name"] }}
                                {% if i.get('type') == 'school' %}(College){% endif %}
                        </option>
                    {% endfor %}
                    </select>
                    <input type="hidden" name="{{ achievementid }}_employer" id="{{ achievementid }}_employer"
                           value="{{ employer if employer is defined else "" }}">
                    <input type="hidden" name="{{ achievementid }}_employer_type" id="{{ achievementid }}_employer_type"
                           value="">
                </td>
                <td>
                    <label for="{{ achievementid }}_position_dropdown">Position/Focus:</label>
                    <br>
                   <select class="dropdown" name="{{ achievementid }}_position_dropdown" id="{{ achievementid }}_position_dropdown">
                    {% for i in ddpayload["position"] %}
                        <option
                            {% if (positionid is not none and i["id"]|string == positionid|string) %}
                                selected
                            {% endif %}
                            value="{{ i["id"] }}"
                            data-employer-id="{{ i['employer'] }}"
                            data-role-type="{{ i['type'] }}">
                            {{ i["name"] }}
                            {% if i['type'] == 'focus' %}(Focus){% endif %}
                        </option>
                    {% endfor %}
                    </select>
                    <input type="hidden" name="{{ achievementid }}_position" id="{{ achievementid }}_position"
                           value="{{ position if position is defined else "" }}">
                    <input type="hidden" name="{{ achievementid }}_position_type" id="{{ achievementid }}_position_type"
                           value="">
                </td>
                <td>
                    <label for="{{ achievementid }}_position_enabled">Position/Focus Displayed</label>
                    <input type="checkbox" name="{{ achievementid }}_position_enabled" id="{{ achievementid }}_position_enabled"
                           {{ "checked" if positionstate }} data-position-state="{{ positionstate }}" disabled>
                </td>
            </tr>
            <tr>
                <td class="align-items-center">
                    <label for="{{ achievementid }}_shortdesc">Achievement Short Description</label>
                    <br>
                    <input type="text" name="{{ achievementid }}_shortdesc" id="{{ achievementid }}_shortdesc"
                           value="{{ shortdesc if shortdesc is defined else "" }}">
                </td>
                <td>
                    <label for="{{ achievementid }}_longdesc">Achievement Long Description</label>
                    <br>
                    <input type="text" name="{{ achievementid }}_longdesc" id="{{ achievementid }}_longdesc"
                           value="{{ longdesc if longdesc is defined else "" }}">
                    <br>
                    <label for="{{ achievementid }}_longdesc_enabled">Displayed</label>
                    <input type="checkbox" name="{{ achievementid }}_longdesc_enabled"
                            {{ "checked" if achievementstate }}>
                </td>
                <td>
                    <button class="btn btn-danger"
                                    id="deleteRow"
                                    type="button">
                                <i class="bi bi-trash"></i>
                                Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
{%- endmacro %}