{% macro form_group(id, name, authority, date_achieved, expiration_date, state, certorder=99) %}
<div class="card mb-3" id="{{ id }}">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-11">
                <div class="mb-3">
                    <label for="{{ id }}_name" class="form-label">Certification Name</label>
                    <input type="text" class="form-control" id="{{ id }}_name" name="{{ id }}_name"
                        value="{{ name }}" placeholder="AWS Certified Solutions Architect">
                </div>
                <div class="mb-3">
                    <label for="{{ id }}_authority" class="form-label">Issuing Organization</label>
                    <input type="text" class="form-control" id="{{ id }}_authority" name="{{ id }}_authority"
                        value="{{ authority }}" placeholder="Amazon Web Services">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="{{ id }}_date_achieved" class="form-label">Date Achieved</label>
                        <input type="text"
                            class="form-control dateInput"
                            id="{{ id }}_date_achieved"
                            name="{{ id }}_date_achieved"
                            value="{{ date_achieved }}"
                            placeholder="MM/YYYY">

                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="{{ id }}_expiration_date" class="form-label">Expiration Date (optional)</label>
                        <input type="text"
                            class="form-control dateInput"
                            id="{{ id }}_expiration_date"
                            name="{{ id }}_expiration_date"
                            value="{{ expiration_date }}"
                            placeholder="MM/YYYY">

                    </div>
                </div>
                <input type="hidden" id="{{ id }}_certorder" name="{{ id }}_certorder" value="{{ certorder }}">
            </div>
            <div class="col-md-1 text-end">
                <button type="button" class="btn btn-sm btn-outline-danger deleteRow">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}