{% macro drop_down(id, payload, ddpayload, primary, secondary=None, primarybyname=False, secondarybyname=False, extra=True, secondaryid=None) %}
    <!-- Test if primary -->
    {% if secondary == None %}
        {% set name = namespace(primary=primary + "name") %}
            <label for="{{ id }}_{{ primary }}_dropdown">Select {{ primary.capitalize() }}:</label>
            <br>
            <select class="dropdown" name="{{ id }}_{{ primary }}_dropdown" id="{{ id }}_{{ primary }}_dropdown">
        {% for i in ddpayload[primary] %}
            <option {{ "selected" if i["id"]|string == payload[id|int - 1][primary]|string }} value="{{ i["id"] }}">{{ i["id"] if primarybyname else i["name"] }}</option>
        {% endfor %}
        {% if extra == True %}
            <option {{ "selected" if "new" in id|string }} value="EDIT">Edit</option>
            <option value="ADD">New</option>
        {% endif %}
        </select>
    {% else %}
        {% set name = namespace(primary=primary + "name", secondary=secondary + "name") %}
            <label for="{{ id }}_{{ secondary }}_dropdown">Select {{ secondary.capitalize() }}:</label>
            <br>
            <select class="dropdown" name="{{ id }}_{{ secondary }}_dropdown" id="{{ id }}_{{ secondary }}_dropdown">
        {% for i in ddpayload[secondary] %}
            <option {{ "selected" if i["id"]|string == payload[id|int - 1][secondary]|string }} value="{{ i["id"] }}">{{ i["id"] if secondarybyname else i["name"] }}</option>
        {% endfor %}
        {% if extra == True %}
            <option {{ "selected" if "new" in id|string }} value="EDIT">Edit</option>
            <option value="ADD">New</option>
        {% endif %}
        </select>
    {% endif %}
{%- endmacro %}