{% from "_dropdown.html" import drop_down with context %}
{% macro form_group(payload, ddpayload, schoolid, schoolname, location, schoolstate, focusid, focusname, startdate, enddate, focusstate, hidden=True) %}
    <!-- Test if new template element -->
    {% if schoolid == "new" %}
        {% set schoolid = "new` + clicks + `"|safe %}
        {% set focusid = "new` + clicks + `"|safe %}
    {% endif %}
    <div id="{{ focusid }}" class="container align-items-center">
        <table>
            <tr>
                <td>
                    {{ drop_down(focusid, payload, ddpayload, "school") }}
                    <br>
                    <div class="{{ "d-none updatevalue" if hidden else "updatevalue" }}" id="{{ focusid }}_school_div">
                        <label for="{{ focusid }}_school_name">School Name:</label>
                        <br>
                        <input type="text" name="{{ focusid }}_school_name" id="{{ focusid }}_school_name"
                               value="{{ schoolname if schoolname is defined else "" }}" onfocusout="commit_value('{{ focusid }}_school');">
                        <br>
                        <label for="{{ focusid }}_school_location">School Location:</label>
                        <br>
                        <input type="text" name="{{ focusid }}_school_location" id="{{ focusid }}_school_location"
                               value="{{ location if location is defined else "" }}" onfocusout="commit_value('{{ focusid }}_school_location');">
                    </div>
                    <label for="{{ focusid }}_school_enabled">Displayed:</label>
                    <input type="checkbox" name="{{ focusid }}_school_enabled" id="{{ focusid }}_school_enabled"
                    {{ "checked" if schoolstate }}>
                </td>
                <td class="align-items-center">
                    {{ drop_down(focusid, payload, ddpayload, "school", secondary="focus", secondaryid=focusid) }}
                    <br>
                    <div class="{{ "d-none updatevalue" if hidden else "updatevalue" }}" id="{{ focusid }}_focus_div">
                        <label for="{{ focusid }}_focus_name">Focus Name:</label>
                        <br>
                        <input type="text" name="{{ focusid }}_focus_name" id="{{ focusid }}_focus_name"
                               value="{{ focus if focus is defined else "" }}" onfocusout="commit_value('{{ focusid }}_school');">
                    </div>
                    <label for="{{ focusid }}_focus_enabled">Displayed:</label>
                    <input type="checkbox" name="{{ focusid }}_focus_enabled"
                            {{ "checked" if focusstate }}>
                </td>
                <td>
                    <label for="{{ focusid }}_startdate">Start Date:</label>
                    <br>
                    <input type="text" name="{{ focusid }}_focus_startdate" id="{{ focusid }}_focus_startdate"
                           value="{{ startdate if startdate is defined else "" }}">
                    <br>
                    <label for="{{ focusid }}_enddate">End Date:</label>
                    <br>
                    <input type="text" name="{{ focusid }}_focus_enddate" id="{{ focusid }}_focus_enddate"
                           value="{{ enddate if enddate is defined else "" }}">
                </td>
                <td>
                    <button class="btn btn-danger"
                                    id="deleteRow"
                                    type="button">
                                <i class="bi bi-trash"></i>
                                Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
{%- endmacro %}