{% from "_dropdown.html" import drop_down with context %}
{% macro form_group(payload, ddpayload, schoolid, schoolname, location, schoolstate, focusid, focusname, startdate, enddate, focusstate, hidden=True, school_dropdown_value=None, focus_dropdown_value=None) %}
    {# If adding a new row, allow for unique IDs #}
    {% if schoolid == "new" %}
        {% set schoolid = "new" %}
        {% set focusid = "new" %}
    {% endif %}

    <div id="{{ focusid }}" class="container align-items-center form-group">
        <input type="hidden" name="{{ focusid }}_rowid" value="{{ schoolid }}">
        <table>
            <tr>
                <td>
                    {{ drop_down(
                        focusid,
                        payload,
                        ddpayload,
                        "school",
                        primarybyname=True,
                        selected_value=school_dropdown_value if school_dropdown_value is not none else schoolid
                    ) }}
                    <br>
                    <div class="{{ "d-none updatevalue" if hidden else "updatevalue" }}"
                         id="{{ focusid }}_school_div">
                        <label for="{{ focusid }}_school_name">School Name:</label>
                        <br>
                        <input type="text" name="{{ focusid }}_school_name" id="{{ focusid }}_school_name"
                               value="{{ schoolname if schoolname is defined else "" }}"
                               onfocusout="commit_value('{{ focusid }}_school');"
                               data-school-name="{{ schoolname if schoolname is defined else '' }}">
                        <br>
                        <label for="{{ focusid }}_school_location">School Location:</label>
                        <br>
                        <input type="text" name="{{ focusid }}_school_location" id="{{ focusid }}_school_location"
                               value="{{ location if location is defined else "" }}"
                               onfocusout="commit_value('{{ focusid }}_school_location');"
                               data-school-location="{{ location if location is defined else '' }}">
                    </div>
                    <label for="{{ focusid }}_school_enabled">Displayed:</label>
                    <input type="checkbox" name="{{ focusid }}_school_enabled" id="{{ focusid }}_school_enabled"
                            {{ "checked" if schoolstate }} data-school-state="{{ schoolstate }}">
                </td>
                <td class="align-items-center">
                    {{ drop_down(
                        focusid,
                        payload,
                        ddpayload,
                        "school",
                        secondary="focus",
                        secondaryid=focusid,
                        secondarybyname=True,
                        selected_value=focus_dropdown_value if focus_dropdown_value is not none else focusid
                    ) }}
                    <br>
                    <div class="{{ "d-none updatevalue" if hidden else "updatevalue" }}" id="{{ focusid }}_focus_div">
                        <label for="{{ focusid }}_focus_name">Focus Name:</label>
                        <br>
                        <input type="text" name="{{ focusid }}_focus_name" id="{{ focusid }}_focus_name"
                               value="{{ focusname if focusname is defined else "" }}"
                               onfocusout="commit_value('{{ focusid }}_school');"
                               data-focus-name="{{ focusname if focusname is defined else '' }}">
                    </div>
                    <label for="{{ focusid }}_focus_enabled">Displayed:</label>
                    <input type="checkbox" name="{{ focusid }}_focus_enabled" id="{{ focusid }}_focus_enabled"
                            {{ "checked" if focusstate }} data-focus-state="{{ focusstate }}">
                </td>
                <td>
                    <label for="{{ focusid }}_startdate">Start Date:</label>
                    <br>
                    <input type="text" name="{{ focusid }}_focus_startdate" id="{{ focusid }}_focus_startdate"
                           value="{{ startdate if startdate is defined else "" }}"
                           onfocusout="commit_value('{{ focusid }}_focus_startdate');"
                           data-start-date="{{ startdate if startdate is defined else '' }}">
                    <br>
                    <label for="{{ focusid }}_enddate">End Date:</label>
                    <br>
                    <input type="text" name="{{ focusid }}_focus_enddate" id="{{ focusid }}_focus_enddate"
                           value="{{ enddate if enddate is defined else "" }}"
                           onfocusout="commit_value('{{ focusid }}_focus_enddate');"
                           data-end-date="{{ enddate if enddate is defined else '' }}">
                </td>
                <td>
                    <button class="btn btn-danger"
                            id="deleteRow"
                            type="button">
                        <i class="bi bi-trash"></i>
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
{%- endmacro %}