{% from "_dropdown.html" import drop_down with context %}
{% macro form_group(payload, ddpayload, employerid, employername, location, employerstate, positionid, positionname, startdate, enddate, positionstate, hidden=True, employer_dropdown_value=None, position_dropdown_value=None) %}
    {# Ensure unique IDs for new rows #}
    {% if employerid == "new" %}
        {% set employerid = "new" %}
        {% set positionid = "new" %}
    {% endif %}

    <div id="{{ positionid }}" class="container align-items-center form-group">
        <input type="hidden" name="{{ positionid }}_rowid" value="{{ employerid }}">
        <table>
            <tr>
                <td>
                    {{ drop_down(
                        employerid,
                        payload,
                        ddpayload,
                        "employer",
                        primarybyname=True,
                        selected_value=employer_dropdown_value if employer_dropdown_value is not none else employerid
                    ) }}
                    <br>
                    <div class="{{ "d-none updatevalue" if hidden else "updatevalue" }}"
                         id="{{ employerid }}_employer_div">
                        <label for="{{ employerid }}_employer">Employer Name:</label>
                        <br>
                        <input type="text" name="{{ employerid }}_employer" id="{{ employerid }}_employer"
                               value="{{ employername if employername is defined else "" }}"
                               onfocusout="commit_value('{{ employerid }}_employer');"
                               data-employer-name="{{ employername if employername is defined else '' }}">
                        <br>
                        <label for="{{ employerid }}_location">Employer Location:</label>
                        <br>
                        <input type="text" name="{{ employerid }}_location" id="{{ employerid }}_location"
                               value="{{ location if location is defined else "" }}"
                               onfocusout="commit_value('{{ employerid }}_location');"
                               data-employer-location="{{ location if location is defined else '' }}">
                    </div>
                    <label for="{{ employerid }}_employer_enabled">Displayed:</label>
                    <input type="checkbox" name="{{ employerid }}_employer_enabled" id="{{ employerid }}_employer_enabled"
                            {{ "checked" if employerstate }} data-employer-state="{{ employerstate }}">
                </td>
                <td class="align-items-center">
                    {{ drop_down(
                        positionid,
                        payload,
                        ddpayload,
                        "employer",
                        secondary="position",
                        secondaryid=positionid,
                        secondarybyname=True,
                        selected_value=position_dropdown_value if position_dropdown_value is not none else positionid
                    ) }}
                    <br>
                    <div class="{{ "d-none updatevalue" if hidden else "updatevalue" }}" id="{{ positionid }}_position_div">
                        <label for="{{ positionid }}_position">Position Name:</label>
                        <br>
                        <input type="text" name="{{ positionid }}_position" id="{{ positionid }}_position"
                               value="{{ positionname if positionname is defined else "" }}"
                               onfocusout="commit_value('{{ positionid }}_position');"
                               data-position-name="{{ positionname if positionname is defined else '' }}">
                    </div>
                    <label for="{{ positionid }}_position_enabled">Displayed:</label>
                    <input type="checkbox" name="{{ positionid }}_position_enabled" id="{{ positionid }}_position_enabled"
                            {{ "checked" if positionstate }} data-position-state="{{ positionstate }}">
                </td>
                <td>
                    <label for="{{ positionid }}_startdate">Start Date:</label>
                    <br>
                    <input type="text" name="{{ positionid }}_startdate" id="{{ positionid }}_startdate"
                           value="{{ startdate if startdate is defined else "" }}"
                           data-start-date="{{ startdate if startdate is defined else '' }}">
                    <br>
                    <label for="{{ positionid }}_enddate">End Date:</label>
                    <br>
                    <input type="text" name="{{ positionid }}_enddate" id="{{ positionid }}_enddate"
                           value="{{ enddate if enddate is defined else "" }}"
                           data-end-date="{{ enddate if enddate is defined else '' }}">
                </td>
                <td>
                    <button class="btn btn-danger"
                            id="deleteRow"
                            type="button">
                        <i class="bi bi-trash"></i>
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
{%- endmacro %}