{% extends "base.html" %}
{% block content %}
    {% set nse = namespace(employer='startvalue') %}
    {% set nsei = namespace(displayed='startvalue') %}
    <div class="d-flex align-items-bottom justify-content-center">
        <form method="post">
        <ul>
            {% for item in payload %}
                {% if item['attr'] == 'employer' %}
                    {% if nse.employer != item['value'] %}
                        {% set nse.employer = item['value'] %}
                        {% if nsei.displayed != item['value'] %}
                            {% set nsei.displayed = item['value'] %}
                            <li>
                                <table>
                                    <tr>
                                        <td>
                                            <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                                            <br>
                                            <input type="text" name="{{item['id']}}_{{item['attr']}}" id="{{ item['id'] }}_{{ item['attr'] }}"
                                                   value="{{ item['value'] if item['value'] is defined else '' }}">
                                            <br>
                                            <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                                            <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                                    {{ "checked" if item['state'] }}>
                                        </td>
                        {% endif %}
                    {% endif %}

                {% elif item['attr'] == 'position' %}
                                <td>
                                    <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                                    <br>
                                    <input type="text" name="{{ item['id'] }}_{{ item['attr'] }}" id="{{ item['id'] }}_{{ item['attr'] }}"
                                           value="{{ item['value'] if item['value'] is defined else '' }}">
                                    <br>
                                    <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                                    <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                            {{ "checked" if item['state'] }}>
                                    <br>
                                    <table>
                                        <tr>
                {% elif 'date' in item['attr'] %}
                                            <td>
                                                <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                                                <br>
                                                <input type="text" name="{{item['id']}}_{{item['attr']}}" id="{{ item['id'] }}_{{ item['attr'] }}"
                                                       value="{{ item['value'] if item['value'] is defined else '' }}">
                                                <br>
                                                <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                                                <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                                        {{ "checked" if item['state'] }}>
                                            </td>
                    {% if item['attr'] == 'enddate' %}

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}