{% extends "base.html" %}
{% block content %}
    <div class="d-flex align-items-bottom justify-content-center">
        <form method="post">
        <ul>
            {% for item in payload %}
                <li class="">
                    <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                    <br>
                    {% if item['attr'] == 'description' %}
                        <textarea name="{{ item['id'] }}_{{ item['attr'] }}"
                                id="{{ item['id'] }}_{{ item['attr'] }}"
                                rows="10"
                                cols="60"
                        >{{ item['value'] if item['value'] is defined else '' }}</textarea>
                    {% else %}
                        <input type="text" name="{{ item['id'] }}_{{ item['attr'] }}" id="{{ item['id'] }}_{{ item['attr'] }}"
                               value="{{ item['value'] if item['value'] is defined else '' }}">
                    {% endif %}
                    <br>
                    <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                    <input type="checkbox" name="{{ item['id'] }}_{{ item['attr'] }}_enabled"
                            {{ "checked" if item['state'] }}>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}