{% extends "base.html" %}
{% set nst = namespace(description="To be filled in by you") %}
{{ ns.description }}
{% for item in payload %}
    {% if item["attr"] == "description" %}
        {% if item["value"] is defined %}
            {% set nst.description = item["value"] %}
        {% endif %}
    {% endif %}
{% endfor %}

{% block content %}
<h1>Welcome to Pylaform!</h1>
    <p>The purpose of this application is to help you improve your resume and your resume skills by leveraging
    scripted templates and chatGPT</p>
    <div class="container align-items-center">
        <div class="row align-items-center">
            <ul style="list-style-type:none;">
                <li>
                    <h2 class="text-center">Resume Notes</h2>
                </li>
                <li>
                    <p class="text-center"><b>{{ nst.description }}</b></p>
                </li>
                <li>
                    <h2 class="text-center">Generate Resume/CV</h2>
                </li>
                <li>
                    <p class="text-center">
                        <a href="/generate/one-page" class="btn btn-lg btn-secondary">Short</a>
                    </p>
                </li>
                <li>
                    <p class="text-center">
                        <a href="/generate/hybrid" class="btn btn-lg btn-secondary">Hybrid</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}