{% extends "base.html" %}
{% from "skills_iter.html" import form_group with context %}
{% block content %}
    <div class="lead d-flex align-items-bottom justify-content-center">
        <form method="post">
            <!-- Iterate payload -->
        {% for i in payload %}
            {{ form_group(payload, i["id"], i["category"], i["subcategory"], i["employername"], i["positionname"], i["shortdesc"], i["longdesc"], i["state"]) }}
        {% endfor %}
        <div id="newinput"></div>
        <button id="rowAdder" type="button" class="btn btn-dark">
                        <span class="bi bi-plus-square-dotted">
                        </span> ADD
                    </button>
        <button type="submit" class="btn btn-success">
                        <span class="bi bi-plus-square-dotted">
                        </span> SUBMIT
                    </button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    clicks = 0;
    $("body").on("click", "#rowAdder", function () {
        clicks += 1;
        $("#newinput").append("<hr>");
        newRowAdd = `{{ form_group(payload, "new", "", "", "", "", "", "", true, hidden=False) }}`;
        $("#newinput").append(newRowAdd);
    });
    </script>
    {% include "_scripts.html" %}
{% endblock %}