{% extends "base.html" %}
{% block content %}
    {% set nss = namespace(category='startvalue') %}
    {% set nssi = namespace(displayed='startvalue') %}
    {% set nssd = namespace(loop='startvalue') %}
    <div class="lead d-flex align-items-bottom justify-content-center">
        <form method="post">
        {% for item in payload %}
            {% if item['attr'] == 'category' %}
               {% if nssd.loop in ['done', 'startvalue'] %}
            <div>
                <div class="container align-items-center">
                    <table>
                        <tr>
            {% endif %}
            {% if nss.category != item['value'] %}
                {% set nss.category = item['value'] %}
                {% if nssi.displayed != item['value'] %}
                    {% set nssi.displayed = item['value'] %}
                    {% if nssd.loop in ['done', 'startvalue'] %}
                        {% set nssd.loop = 'startvalue' %}
                            <td>
                                <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                                <br>
                                <input type="text" name="{{item['id']}}_{{item['attr']}}" id="{{ item['id'] }}_{{ item['attr'] }}"
                                       value="{{ item['value'] if item['value'] is defined else '' }}">
                                <br>
                                <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                                <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                        {{ "checked" if item['state'] }}>
                            </td>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% elif item['attr'] == 'subcategory' %}
                            <td class="align-items-center">
                                <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                                <br>
                                <input type="text" name="{{ item['id'] }}_{{ item['attr'] }}" id="{{ item['id'] }}_{{ item['attr'] }}"
                                       value="{{ item['value'] if item['value'] is defined else '' }}">
                                <br>
                                <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                                <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                        {{ "checked" if item['state'] }}>
                                <br>
                            </td>
            {% elif item['attr'] == 'position' %}
                            <td>
                                <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                                <br>
                                <input type="text" name="{{ item['id'] }}_{{ item['attr'] }}" id="{{ item['id'] }}_{{ item['attr'] }}"
                                       value="{{ item['value'] if item['value'] is defined else '' }}">
                                <br>
                                <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                                <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                        {{ "checked" if item['state'] }}>
                                <br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% elif 'desc' in item['attr'] %}
                {% if item['attr'] == 'shortdesc' %}
            <div>
                <ul>
                {% endif %}
                    <li>
                        <label for="{{ item['id'] }}_{{ item['attr'] }}">{{ item['attr'] }}</label>
                        <br>
                        <input type="text" name="{{item['id']}}_{{item['attr']}}" id="{{ item['id'] }}_{{ item['attr'] }}"
                               value="{{ item['value'] if item['value'] is defined else '' }}">
                        <br>
                        <label for="{{ item['id'] }}_{{ item['attr'] }}_enabled">Displayed</label>
                        <input type="checkbox" name="{{item['id']}}_{{ item['attr'] }}_enabled"
                                {{ "checked" if item['state'] }}>
                    </li>
                {% if item['attr'] == 'longdesc' %}
                    {% set nssd.loop = "done" %}
                </ul>
            </div>
                {%  endif %}
            {% endif %}

        {% endfor %}
        <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}