{% from "_dropdown.html" import drop_down with context %}
{% macro form_group(payload, id, category, subcategory, employername, position, shortdesc, longdesc, state, hidden=True) %}
    <!-- Test if new template element -->
    {% if id == "new" %}
        {% set id = "new` + clicks + `"|safe %}
    {% endif %}
    <div id="{{ id }}" class="container align-items-center listitem item{{ id }}">
        <table>
            <tr>
                <td>
                    {{ drop_down(id, payload, "category", primarybyname=True) }}
                    <br>
                    <div class="{{ "d-none" if hidden else "" }}" id="{{ id }}_category_div">
                        <input type="text" name="{{ id }}_category" id="{{ id }}_category"
                               value="{{ category if category is defined else "" }}">
                    </div>
                </td>
                <td class="align-items-center">
                    {{ drop_down(id, payload, "category", secondary="subcategory", primarybyname=True) }}
                    <div class="{{ "d-none" if hidden else "" }}" id="{{ id }}_subcategory_div">
                        <br>
                        <input type="text" name="{{ id }}_subcategory" id="{{ id }}_subcategory"
                               value="{{ subcategory if subcategory is defined else "" }}">
                    </div>
                </td>
                <td>
                    {{ drop_down(id, payload, "employer", extra=False) }}
                    <br>
                    {{ drop_down(id, payload, "employer", "position", extra=False) }}
                </td>
                <td>
                    <button class="btn btn-danger"
                                    id="deleteRow"
                                    type="button">
                                <i class="bi bi-trash"></i>
                                Delete
                    </button>
                </td>
            </tr>
        </table>
    <br>
    <ul>
        <li>
            <label for="{{ id }}_shortdesc">Short Description</label>
            <br>
            <input type="text" name="{{ id }}_shortdesc" id="{{ id }}_shortdesc"
                   value="{{ shortdesc if shortdesc is defined else "" }}">
        </li>
    </ul>
    <ul>
        <li>
            <label for="{{ id }}_longdesc">Long Description</label>
            <br>
            <input type="text" name="{{ id }}_longdesc" id="{{ id }}_longdesc"
                   value="{{ longdesc if longdesc is defined else "" }}">
            <br>
            <label for="{{ id }}_longdesc_enabled">Displayed</label>
            <input type="checkbox" name="{{ id }}_longdesc_enabled"
                    {{ "checked" if state }}>
        </li>
    </ul>
</div>
{%- endmacro %}